body {
    background-color: #ABEBC6;
    padding-left: 110px;
    padding-top: 80px;
    color: #131313;
    font-family: Montserrat;
}

h1 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    margin: 0;
    margin-bottom: 30px;
}

h2 {
    font-family: Montserrat;
    margin: 0;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 22px;
}

.inputs-block {
    display: flex;
    align-items: flex-end;
}

.input-item {
    margin-right: 40px;
    max-width: 255px;
}

.input-item__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

input {
    background: #F4F6F7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    border: none;
    height: 56px;
    border-radius: 7px;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 20px;
    padding-left: 18px;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #131313;
}

.btn__wrapper {
    display: flex;
}

button {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    border: none;
    height: 56px;
    border-radius: 7px;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 20px;
    width: 141px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    color: #131313;
    margin-right: 25px;
    margin-top: 45px;
}

.btn-table {
    margin: 5px 0 5px 0;
}

.table-block {
    margin-top: 45px;
    font-size: 20px;
}

.eng-word {
    font-weight: 600;
    font-size: 30px;
    line-height: 43px;
    letter-spacing: 0.03em;
    color: #131313;
    flex: none;
    order: 1;
    align-self: center;
    margin: 50px 0;
}

.ukr-word {
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 43px;
    letter-spacing: 0.03em;
    color: #131313;
    flex: none;
    order: 1;
    align-self: center;
    margin: 50px 0;
}

.error {
    border: 2px solid #EC7063;
}

table {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    border: none;
    background: #F4F6F7;
    border-radius: 7px;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 900;
    line-height: 20px;
}

td {
    padding: 0 15px 0 15px;
    border-bottom: 1px solid #131313;
}

#search-word__btn:hover {
    background: #D1A4FF;
}

#add-word__btn:hover {
    background: #82E0AA;
}

#edit-word__btn:hover {
    background: #F7DC6F;
}

#delete-word__btn:hover {
    background: #EC7063;
}

@media only screen and (max-width: 740px) {
    body {
        padding-left: 20px;
    }
}